* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    scroll-behavior: smooth;

}

/*  The below CSS code is for the Navbar section*/

header {
    height: 80px;
}

#Name-navbar {
    background-color: white;
    color: black;
    font-weight: bold;
    margin: auto 0px;
    text-align: start;
    display: inline-block;
    width: 600px;

}

nav ul {
    background-color: white;
    border-radius: 9px;
    width: 100%;
    text-align: center;
    height: 75px;
    display: flex;
    border: 2px solid darkblue;
    position: fixed;
    justify-content: space-around;
    z-index: 8px;

}

nav a {
    text-decoration: none;
    transition: 0.3s;
    background-color: white;
    font-weight: bold;
    color: rgb(105, 103, 103);
    color: rgb(105, 103, 103);
}

nav li {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    font-weight: bold;
}

nav a:hover {
    color: black;
    background-color: white;
    transform: translateY(-2.4px);
    border-radius: 50px;
    height: 25px;
    width: 85px;
    font-weight: bold;
    background-color: rgb(67, 200, 244);
}

#a2:hover {
    color: black;
    background-color: rgb(10, 166, 218);
    transform: translateY(-2.4px);
    border-radius: 50px;
    height: 25px;
    width: 106px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    background-color: #F5F9FF;

}

/* The below CSS code is for the About section*/

#About_section {
    background-color: #F5F9FF;
    margin-top: 0px;
    height: 900px;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

#profile_div_image {
    /* The div containing profile image*/
    width: 100%;
    height: 100%;
    background-color: #F5F9FF;
    align-items: center;
    justify-content: center;
}

#profile_img {
    /* The profile image inside the profile div*/
    width: 450px;
    height: 550px;
    border-radius: 50%;
    margin-top: 130px;
    margin-left: 170px;
}

#about-text_div {
    /*  The div containing text in it*/
    display: inline-block;
    background-color: #F5F9FF;
    width: 70%;
    height: 100%;
}

#about-paragraph {
    /* The paragraph inside the about text div*/
    font-family: Georgia, serif;
    margin-top: 220px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #F5F9FF;
}


#scroll-button {
    background-color: #F5F9FF;
    border-radius: 60px;
    height: 55px;
    width: 160px;
    font-weight: bold;
    margin: auto;
    margin-right: 100px;
    margin-bottom: 70px;
}

#scroll-button:hover {
    cursor: pointer;
    background-color: rgb(67, 200, 244);
    transform: translate3d(1px, -4px, 2px);
    transition: 0.4s;
}

#contact-button {
    font-weight: bold;
    background-color: #F5F9FF;
    border-radius: 60px;
    height: 55px;
    width: 160px;
    margin: auto;
    margin-bottom: 70px;
    margin-left: 100px;
}

#contact-button:hover {
    cursor: pointer;
    background-color: rgb(67, 200, 244);
    transform: translate3d(1px, -4px, 2px);
    transition: 0.4s;
}

/* The below are the codes of section Projects*/

#Projects_section {
    background-color: rgb(209, 223, 245);
    height: 950px;
    border: 2px solid black;
}

#Projects_text_heading {
    text-align: center;
    background-color: rgb(209, 223, 245);
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 100px;
}

.heading_text {
    background-color: rgb(209, 223, 245);
}

#card_alignment {
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 223, 245);
}


.Project_cards {
    background-color: white;
    height: 550px;
    width: 400px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 3fr 1fr 2fr 1fr 1fr;
    border: 0.8px solid rgb(79, 191, 228);
}

.Project_cards:hover {
    transform: translate3d(3px, -6px, 0px);

    transition: 0.4s;
}

.Project_cards img {
    background-color: grey;
    margin: 22px 20px;
    border-radius: 20px;
}

.Project_cards img:hover {
    transform: translate3d(2px, -3px, 0px);
    transition: 0.4s;
}

.Project_cards h2 {
    margin-left: 30px;
    width: 80%;
}

.Project_cards h2:hover {
    margin-left: 30px;
    color: rgb(10, 166, 218);
    transform: translateY(-3px);
    transition: 0.4s;
}

.Project_cards p {
    margin-left: 30px;
    height: 90%;
    width: 87%;
    color: rgb(88, 87, 87);
    line-height: 25px;
}

.Project_cards h5 {
    margin-left: 30px;
    background-color: black;
    color: white;
    border-radius: 60px;
    padding: 4px 10px;
    font-weight: normal;
}

.Project_cards h5:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transform: translateY(-1.7px);
    transition: 0.3s;
}

#Project_cards_button_div {
    margin-left: 30px;
    border-radius: 20px;
}

.Project_cards button {
    align-items: center;
    height: 38px;
    width: 130px;
    border-radius: 15px;
    margin-right: 25px;
    cursor: pointer;
}



#Project_demo_button {
    background-color: rgb(59, 191, 235);
    color: white;
    font-weight: bold;
    border: none;
}

#Project_demo_button:hover {
    background-color: white;
    color: black;
    transform: translateY(-2.5px);
    transition: 0.3s;
    border: 1px solid rgb(10, 166, 218);
}

#Project_github_button {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

#Project_github_button:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
    transition: 0.3s;
    border: 1px solid rgb(10, 166, 218);
}

/* This is the end of CSS code for Projects page*/

/* The below CSS code is for the Language section*/

#Language_section {
    border: 1px solid black;
    background-color: rgb(220, 230, 246);
    height: 940px;
}

#Language_heading {
    text-align: center;
    background-color: rgb(209, 223, 245);
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 80px;
}

#Language_section h2 {
    background-color: rgb(220, 230, 246);
    line-height: 40px;
}

#Language_section p {
    background-color: rgb(220, 230, 246);
    line-height: 32px;
}

#language_cards_alignment{
    margin: 70px 160px 10px 160px;
    height: 520px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(220, 230, 246);
}

.Language_image{
    height:100px;
    width:100px;
    border-radius: 20px;
    background-color: white;
    margin-top:25px;
}

.Language_card_design_column1{
    border:2px solid black;
    height:260px;
    width:350px;
    margin-left:160px;
    border-radius:20px;
    text-align: center;
    background-color: white;
}

.Language_card_design_column2{
    border:2px solid black;
    background-color: white;
    height:260px;
    width:350px;
    margin-left:55px; 
    margin-bottom:50px;
    border-radius:20px;
    text-align: center;
}

.Language_card_design_column1:hover{
    transform: translate3d(2px,-4px,2px);
    border:5px solid black;
    transition: 0.4s;
}

.Language_card_design_column2:hover{
    margin-bottom:44px;
    transform: translate3d(1px,-4px,2px);
    border:5px solid black;
    transition: 0.4s;
}